body{
    background-color: #e1e5e8;
}

a:hover{
    text-decoration: none;
}

.outer{
    margin: 40px auto;
    width: 960px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 24px;
}

.logo{
    float: left;
}
.logo img{
    width:300px;
}

.lang_s{
    margin-top: 30px;
    display: inline-block;
    float: right;
    color: #3B91FF;
}

header nav ul{
    list-style: none;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
    height: 40px;
    border-bottom: 2px #CCC solid;
}
header nav ul li{
    float: left;
    position: relative;
    /*border-bottom: 2px #3B91FF solid;*/
}
header nav ul li:hover{
    border-bottom: 2px #3B91FF solid;
}

header nav ul li a{
    line-height: 40px;
    font-size: 1.2em;
    text-align: center;
    padding: 0 10px;
    margin-right: 2px;
    background: #e6edf2;
    display: inline-block;
}

header nav li.active a{
    background: #0fa2d5;
    color: #ffffff;
}

.breadcrumb{
    padding: 18px 15px;
    margin: 20px 0;
}

main{
    border-bottom: solid 1px #e3e7e9;
    margin-bottom: 6px;
}


footer ul{
    float: left;
    width: 220px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 15px;
}

footer a{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.copyright{
    text-align: center;
}