@{
    var first = true;
}
<p>
    @foreach (var data in MultiLanguage.Functions.GetUrlsAndLanguages(Model.Id))
    {
        if (first)
        {
            first = false;
        }
        else
        {
            <span>|</span>
        }
        if (string.IsNullOrEmpty(data.Url))
        {
        <strong>@data.NativeName</strong>
        }
        else
        {        
        <a href="@data.Url">@data.NativeName</a>
        }
    }
</p>
