body{
	background-image: url(../images/background_noon.jpg);
	background-repeat: no-repeat;
}

a:hover{
    text-decoration: none;
}

.outer{
    margin: 40px auto;
    width: 998px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 24px;
}

.logo{
    float: left;
}
.logo img{
    width:300px;
}

.lang_s{
    margin: 30px 30px 0 0;
    display: inline-block;
    float: right;
    color: #3B91FF;
}

.with_blue {
font-size: 18px;
padding: 6px;
display: block;
border-bottom: 3px solid #2388e1;
}

header nav ul{
    list-style: none;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
    height: 42px;
    border-bottom: 2px #CCC solid;
}
header nav ul li{
    float: left;
    position: relative;
    /*border-bottom: 2px #3B91FF solid;*/
}
header nav ul li:hover{
    border-bottom: 2px #3B91FF solid;
}

header nav ul li a{
    line-height: 40px;
    font-size: 1.2em;
    text-align: center;
    padding: 0 10px;
    margin-right: 2px;
    background: #e6edf2;
    display: inline-block;
}

header nav li.active a{
    background: #0fa2d5;
    color: #ffffff;
}

.breadcrumb{
    padding: 18px 15px;
    margin: 20px 0;
}

main{
    border-bottom: solid 1px #e3e7e9;
    margin-bottom: 6px;
}

.list_title {
    color: #005bac;
    font-weight: bold;
}

.sidebar .sidebar-widget-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 5px 5px 15px;
    background: #0fa2d5;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 40px;
}

.sidebar{
    margin: 30px 0;
    display: inline-block;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}
.sidebar ul li{
    list-style: none;
    position: relative;/*
	height: 46px;
	min-height: 46px;
	max-height: 46px;*/
    border: 1px solid #e1e1e1;
    border-top: none;

    line-height: 2;
    color: #8d9aa6;

}
.sidebar ul li a{
    color: #088ac8;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.sidebar li a.active{
    background: #ecf0f1;
}
.sidebar li:hover:before{
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    width: 4px;
    height: 100%;
    background: #3B91FF;
}

article{
    margin-bottom: 65px;
}


/* homepage */
.news_body{
    padding: 0;
}
.news_body li {
    border-bottom: #e3e3e3 solid 1px;
    padding: 10px 0px;
    display: block;
    font-size: 12px;
    color: #333333;
    width: 100%;
    float: left;
}
.news_body li a .time {
    float: left;
    color: #333333;
    display: block;
    width: 80px;
    padding: 0px 10px;
}
.news_body li a .news_line {
    float: left;
    color: #005bac;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 360px;
    display: block;
}
.home_prod_item{
    float: left;
    margin-right: 20px;
}
.home_prod_item p{
    text-align: center;
}
.home_prod_item img{
    width: 200px;
    height: 150px;
}
/* end */

/* about page */
.aboutlist div {
    float: left;
width: 256px;
    height: 198px;
padding-right: 26px;
padding-bottom: 45px;
}
.aboutlist img {
    width: 230px;
    height: 134px;
}
.aboutlist p {
    text-align: center;
}
/* end */



/*===========================
==========team pages=========
===========================*/
.team-item-wrap{
    position: relative;
    width: 260px;
}
.team-item{
    display: block;
}
.team-teaser-img{
    position: relative;
    float: left;
    width: 100%;
}

.team-teaser-img img{
    width: 100%;
}

.team-content{
    float: left;
    width: 100%;
    background: #ecf0f1;
    border: 1px solid #dce2e3;

    text-align: center;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.team-content .team-heading{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    font-weight: 700;
    padding: 50px 0 0;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.team-content .team-heading-description{
    font-size: 16px;
    font-weight: normal;
    color: #95a5a6;
    padding: 0 0 15px;
    margin: 0;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.team-item-wrap.active:nth-child(2n+3){

}
.team-item-wrap{
    position: relative;
    z-index: 300;

    -webkit-transition: all .4s cubic-bezier(.63,.33,.87,1.24);
    -moz-transition: all .4s cubic-bezier(.63,.33,.87,1.24);
    -o-transition: all .4s cubic-bezier(.63,.33,.87,1.24);
    -ms-transition: all .4s cubic-bezier(.63,.33,.87,1.24);
    transition: all .4s cubic-bezier(.63,.33,.87,1.24);

}
.team-item-wrap:hover{
    cursor: pointer;
}
.team-item-wrap.active{
    z-index: 400;
    position: relative;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    transform: scale(1.54,1.5) translateY(35px);
    -ms-transform: scale(1.54,1.5) translateY(35px);
    -webkit-transform: scale(1.54,1.5) translateY(35px);
}
.team-single-content-container{
    position: relative;
}
.team-item-wrap .team-single-content{
    position: absolute;
    width: 100%;
    left: 0;
    top: -150px;
    background: rgb(236, 240, 241);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    visibility: hidden;
    opacity: 0;
    height: 0;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.team-item-wrap .team-single-content:before{
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgb(236, 240, 241);

}



/*===========================
=======portfolio pages=======
===========================*/
.portfolio-wrapper .meta-info{
    width: 100%;
    clear: both;
}
.portfolio-wrapper .meta-info span{
    width: 33.33333333333333%;
    position: relative;
    line-height: 100px;
}
.article-heading.portfolio-heading,
.article-heading.portfolio-heading a{
    padding: 0;
    font-weight: bold;
    font-size: 17px;
    color: #2c3e50;
    text-transform: uppercase;
}
.portfolio-content-wrap{
    float: left;
    padding: 10px;
    background: #ecf0f1;
    border: 1px solid #dce2e3;
    text-align: center;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.four-cols-portfolio .portfolio-content-wrap,
.three-cols-portfolio .portfolio-content-wrap{
    text-align: left;
}
.article-content.portfolio-content p{
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #95a5a6;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
}
.article-content.portfolio-single-content p{
    padding-left: 0;
}
.portfolio-wrapper .meta-info .meta-info-buttons:before{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 17px;
}
.portfolio-teaser-pic{
    position: relative;
    float: left;
    width: 100%;
}
.portfolio-teaser-pic:after,
.portfolio-teaser-pic:before{
    content: '';
    position: absolute;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.portfolio-teaser-pic:before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.portfolio-teaser-pic:after{
    content: '\f0c1';
    opacity: 0;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    width: 42px;
    height: 42px;
    background: #fff;
    font-size: 1.2em;
    color: #088ac8;
    font-family: FontAwesome;
    line-height: 42px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.portfolio-teaser-pic:hover:after{
    opacity: 1;
}
.portfolio-teaser-pic:hover:before{
    background: #2c3e50;
    opacity: .7;
}

.portfolio-teaser-pic img{
    width: 100%;
}
.team article{
    margin: 0 0 30px 30px;
    float: left;
}

footer{
	border: 1px solid #D9E3E2;
	padding: 14px 21px;
	padding-bottom: 40px;
}

footer ul{
    float: left;
    width: 200px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 15px;
}

footer a{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.copyright{
    text-align: center;
	border-top: #2388e1 3px solid;
	margin-top: 25px;
color: #999999;
font-size: 12px;
padding-top: 11px;
line-height: 16px;
}