@using Site.App_Code
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
}
<div class="clearfix">
     
    @Html.Partial("LeftNavigation",@Model.Content)

    <div  class="" style="float: left;width: 75%;padding-left: 30px;">
        @*<h2>@Html.Raw(Model.Content.GetTitleOrName())</h2>*@
           
        @Html.Partial("ContactForm",new Koiak.StandardWebsite.ContactFormModel())
    </div>
    <div class="clearfix"></div>
</div>