@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
}

 <div id="mainContent" class="fc">
      
      <div class="navigation">
        @Html.Partial("NewsLeftNav",@Model.Content)
      &nbsp;
      </div>

       <div id="content">
            @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
       </div>
     
        @Html.Partial("ContentPanels",@Model.Content)
    </div>