@using Site.App_Code
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homepage = Model.Content.AncestorOrSelf(1);
}
<nav>
                    
    @if (homepage.HasProperty("primaryNavigation"))
    {
        <ul>
            @foreach (var item in Umbraco.TypedContent(homepage.GetPropertyValue<string>("primaryNavigation").Split(',')))
            {
                if (item != null)
                {
                    var selected = (Array.IndexOf(Model.Content.Path.Split(','), item.Id.ToString()) >= 0 && item.Level > 1)
                                   || (Model.Content.Id == homepage.Id && homepage.Id == item.Id)
                        ? " class=\"active\"" : "";
                    <li @Html.Raw(selected)><a href="@item.GetAliasOrUrl()" style="font-family:">@item.Name</a></li>
                }
            }
        </ul>
    }
</nav>
