<access>
  <page id="1089" loginPage="1094" noRightsPage="1093" simple="False">
    <group id="Client" />
  </page>
  <page id="1090" loginPage="1094" noRightsPage="1093" simple="False">
    <group id="Client1" />
  </page>
  <page id="1092" loginPage="1094" noRightsPage="1093" simple="False">
    <group id="Client2" />
  </page>
</access>