<!DOCTYPE root[<!ELEMENT Newsfolder ANY>
<!ATTLIST Newsfolder id ID #REQUIRED>
 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ClientArea ANY>
<!ATTLIST ClientArea id ID #REQUIRED>
<!ELEMENT ContactForm ANY>
<!ATTLIST ContactForm id ID #REQUIRED>
<!ELEMENT ContentMaster ANY>
<!ATTLIST ContentMaster id ID #REQUIRED>
<!ELEMENT ContentPanel ANY>
<!ATTLIST ContentPanel id ID #REQUIRED>
<!ELEMENT ContentPanels ANY>
<!ATTLIST ContentPanels id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT NewsArticle ANY>
<!ATTLIST NewsArticle id ID #REQUIRED>
<!ELEMENT Slide ANY>
<!ATTLIST Slide id ID #REQUIRED>
<!ELEMENT Slideshow ANY>
<!ATTLIST Slideshow id ID #REQUIRED>
<!ELEMENT Standard ANY>
<!ATTLIST Standard id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1077" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T13:55:34" nodeName="中文" urlName="中文" path="-1,1077" isDoc="" nodeType="1067" creatorName="Administrator" writerName="Administrator" writerID="0" template="1055" nodeTypeAlias="Homepage">
    <Standard id="1078" parentID="1077" level="2" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T12:54:01" nodeName="About" urlName="about" path="-1,1077,1078" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla at velit lacus.</p>
<p>Vivamus dictum, lorem vitae <strong>bold text</strong>, libero <a href="/{localLink:1048}" title="Home">link text</a> elit, vitae tincidunt ante nibh vitae lectus. Praesent molestie justo non mi dapibus et venenatis ante facilisis. Morbi gravida molestie cursus.</p>
<h3>Sub Section</h3>
<p>Aliquam at est dui. Pellentesque tortor risus, congue eget pretium ut, elementum eu velit. Phasellus tempus leo sed elit tempus vestibulum. Integer mollis arcu porta leo vulputate dignissim.</p>
<ul>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ul>
<ol>
<li>Numbered Item 1</li>
<li>Numbered Item 2</li>
<li>Numbered Item 3</li>
</ol>
<p>In suscipit lectus vitae nibh faucibus vel lobortis est ullamcorper. Morbi risus nisl, sodales egestas placerat nec, cursus vel tellus. Vivamus aliquet sagittis pellentesque. Nulla rutrum neque nec metus mattis volutpat.</p>
<p>Vivamus egestas enim sed augue eleifend id tristique magna tempus. Nunc ullamcorper scelerisque ante quis consectetur.</p>
<p>Curabitur vel dui a enim adipiscing malesuada non quis velit.</p>]]></bodyText>
      <contentPanels><![CDATA[1127]]></contentPanels>
      <Standard id="1159" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T17:20:58" updateDate="2014-05-22T17:21:05" nodeName="asdfasdfasdf" urlName="asdfasdfasdf" path="-1,1077,1078,1159" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title>asdfasdfasdf</title>
      </Standard>
      <Standard id="1160" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T17:22:13" updateDate="2014-05-22T17:22:18" nodeName="zzzzzzzzzzz" urlName="zzzzzzzzzzz" path="-1,1077,1078,1160" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title>z</title>
      </Standard>
    </Standard>
    <Standard id="1082" parentID="1077" level="2" creatorID="0" sortOrder="1" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T16:22:25" nodeName="News" urlName="news" path="-1,1077,1082" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="Newsfolder">
      <NewsArticle id="1083" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T16:23:17" nodeName="Article 1" urlName="article-1" path="-1,1077,1082,1083" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<h2>Your first Article</h2>
<p><span><strong>Aliquam erat volutpat. Sed laoreet leo id nisi convallis sollicitudin sodales orci adipiscing. Sed a dolor ipsum. Quisque ut quam eu arcu placerat rhoncus vel et mi. Pellentesque sed est nisl.</strong> </span></p>
<p><span>Aliquam at orci justo, id pharetra augue. Aenean ut nunc ut nibh interdum scelerisque ut ac mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula dictum lectus in interdum. Fusce pellentesque elit nec metus convallis id porttitor felis laoreet. Nunc vitae enim quam.</span></p>]]></bodyText>
        <articleSummary><![CDATA[Here is an article summary, you can add as much of a description as you require.]]></articleSummary>
        <articleDate>2012-11-08T00:00:00</articleDate>
      </NewsArticle>
      <NewsArticle id="1111" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T13:32:54" updateDate="2014-05-22T13:34:15" nodeName="new2" urlName="new2" path="-1,1077,1082,1111" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
      </NewsArticle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>News</h2>]]></bodyText>
      <NewsArticle id="1149" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2014-05-22T16:25:46" updateDate="2014-05-22T16:29:18" nodeName="testd" urlName="testd" path="-1,1077,1082,1149" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>adsfasdf</p>]]></bodyText>
      </NewsArticle>
      <NewsArticle id="1150" parentID="1082" level="3" creatorID="0" sortOrder="3" createDate="2014-05-22T16:35:03" updateDate="2014-05-22T16:35:28" nodeName="testddd" urlName="testddd" path="-1,1077,1082,1150" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title>dd</title>
        <keywords><![CDATA[dd]]></keywords>
        <bodyText><![CDATA[<p>ddd</p>]]></bodyText>
        <articleSummary><![CDATA[dd]]></articleSummary>
      </NewsArticle>
      <NewsArticle id="1151" parentID="1082" level="3" creatorID="0" sortOrder="4" createDate="2014-05-22T16:36:51" updateDate="2014-05-22T16:36:56" nodeName="test copy" urlName="test-copy" path="-1,1077,1082,1151" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>asdfasdfasdf</p>]]></bodyText>
      </NewsArticle>
      <NewsArticle id="1158" parentID="1082" level="3" creatorID="0" sortOrder="5" createDate="2014-05-22T16:38:27" updateDate="2014-05-22T16:38:31" nodeName="asdfasdfasdfasdf" urlName="asdfasdfasdfasdf" path="-1,1077,1082,1158" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>asdfasdfa</p>]]></bodyText>
      </NewsArticle>
      <NewsArticle id="1162" parentID="1082" level="3" creatorID="0" sortOrder="6" createDate="2014-05-22T17:24:23" updateDate="2014-05-22T17:24:29" nodeName="d" urlName="d" path="-1,1077,1082,1162" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>asdfasdfasdf</p>]]></bodyText>
      </NewsArticle>
      <NewsArticle id="1165" parentID="1082" level="3" creatorID="0" sortOrder="7" createDate="2014-05-22T17:25:15" updateDate="2014-05-22T17:25:18" nodeName="afdasdfasdfa" urlName="afdasdfasdfa" path="-1,1077,1082,1165" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>asdfasdfasdfasdf</p>]]></bodyText>
      </NewsArticle>
      <NewsArticle id="1168" parentID="1082" level="3" creatorID="0" sortOrder="8" createDate="2014-05-22T17:26:56" updateDate="2014-05-22T17:27:39" nodeName="asdadfadfasdfasdfasdf" urlName="asdadfadfasdfasdfasdf" path="-1,1077,1082,1168" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>d</p>]]></bodyText>
      </NewsArticle>
    </Standard>
    <Standard id="1084" parentID="1077" level="2" creatorID="0" sortOrder="2" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Clients" urlName="clients" path="-1,1077,1084" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Clients</h2>
<p><strong>This is a standard content page.</strong></p>
<p><span>Vestibulum malesuada aliquet ante, vitae ullamcorper felis faucibus vel. Vestibulum condimentum faucibus tellus porta ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </span></p>
<p><span>Cras at auctor orci. Praesent facilisis erat nec odio consequat at posuere ligula pretium. Nulla eget felis id nisl volutpat pellentesque. Ut id augue id ligula placerat rutrum a nec purus. Maecenas sed lectus ac mi pellentesque luctus quis sit amet turpis. Vestibulum adipiscing convallis vestibulum. </span></p>
<p><span>Duis condimentum lectus at orci placerat vitae imperdiet lorem cursus. Duis hendrerit porta lorem, non suscipit quam consectetur vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elit augue, tincidunt nec tincidunt id, elementum vel est.</span></p>]]></bodyText>
    </Standard>
    <ContactForm id="1085" parentID="1077" level="2" creatorID="0" sortOrder="3" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Contact Us" urlName="contact-us" path="-1,1077,1085" isDoc="" nodeType="1064" creatorName="Administrator" writerName="Administrator" writerID="0" template="1054" nodeTypeAlias="ContactForm">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Contact Us</h2>
<p>Please get in touch!</p>
<?UMBRACO_MACRO macroAlias="Map" />]]></bodyText>
      <recipientEmailAddress>chriskoiak@gmail.com</recipientEmailAddress>
      <emailSubject>Standard Website Contact Form</emailSubject>
      <thankYouPage>1124</thankYouPage>
      <senderEmailAddress>chriskoiak@gmail.com</senderEmailAddress>
      <Standard id="1086" parentID="1085" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Thank You" urlName="thank-you" path="-1,1077,1085,1086" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>Email sent successfully</strong></p>]]></bodyText>
      </Standard>
    </ContactForm>
    <Standard id="1087" parentID="1077" level="2" creatorID="0" sortOrder="4" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T16:04:38" nodeName="Search" urlName="search" path="-1,1077,1087" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1057" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Search</h2>]]></bodyText>
      <contentPanels><![CDATA[1077]]></contentPanels>
    </Standard>
    <Standard id="1088" parentID="1077" level="2" creatorID="0" sortOrder="5" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Sitemap" urlName="sitemap" path="-1,1077,1088" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1058" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Sitemap</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa.<a href="/contact-us.aspx"><br /></a></p>]]></bodyText>
    </Standard>
    <ClientArea id="1089" parentID="1077" level="2" creatorID="0" sortOrder="6" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Client Area" urlName="client-area" path="-1,1077,1089" isDoc="" nodeType="1061" creatorName="Administrator" writerName="Administrator" writerID="0" template="1053" nodeTypeAlias="ClientArea">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Standard id="1090" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Client Area 1" urlName="client-area-1" path="-1,1077,1089,1090" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Standard id="1091" parentID="1090" level="4" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Page 1" urlName="page-1" path="-1,1077,1089,1090,1091" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
          <umbracoNaviHide>0</umbracoNaviHide>
        </Standard>
      </Standard>
      <Standard id="1092" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Client Area 2" urlName="client-area-2" path="-1,1077,1089,1092" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
      </Standard>
    </ClientArea>
    <Standard id="1093" parentID="1077" level="2" creatorID="0" sortOrder="7" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Insufficent Access" urlName="insufficent-access" path="-1,1077,1093" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Insufficent Access</h2>
<p>You have tried to access a page you do not have access to.</p>]]></bodyText>
    </Standard>
    <Standard id="1094" parentID="1077" level="2" creatorID="0" sortOrder="8" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Login" urlName="login" path="-1,1077,1094" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1056" nodeTypeAlias="Standard">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Login</h2>]]></bodyText>
    </Standard>
    <Slideshow id="1095" parentID="1077" level="2" creatorID="0" sortOrder="9" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Slideshow" urlName="slideshow" path="-1,1077,1095" isDoc="" nodeType="1070" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slideshow">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Slide id="1096" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Purple Hat" urlName="purple-hat" path="-1,1077,1095,1096" isDoc="" nodeType="1069" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/1813/cap.png</mainImage>
        <bodyText><![CDATA[<h3>Standard Website MVC</h3>
<p>Well hello! This website package demonstrates all the standard functionality of Umbraco. It's a great starting point for <span>starting point for further development or as a prototype.</span></p>
<h3>Creative Founds</h3>
<p>This package was developed by <a href="http://www.twitter.com/chriskoiak" target="_blank">Chris Koiak</a> &amp; <a href="http://www.creativefounds.co.uk" target="_blank">Creative Founds</a>. </p>]]></bodyText>
      </Slide>
      <Slide id="1097" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Red Dice" urlName="red-dice" path="-1,1077,1095,1097" isDoc="" nodeType="1069" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/1824/dice.png</mainImage>
        <bodyText><![CDATA[<h3>Secure Client Areas</h3>
<p>Make sure you check out the secure client areas and MVC login form,</p>
<h3>Multiple Areas</h3>
<p>You can create different areas for different clients or just the functionality to suit your project.</p>]]></bodyText>
      </Slide>
      <Slide id="1098" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Umbraco Speechbubble" urlName="umbraco-speechbubble" path="-1,1077,1095,1098" isDoc="" nodeType="1069" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/2075/chat.jpg</mainImage>
        <bodyText><![CDATA[<h3>News List</h3>
<p>The news page is an example of a list of content. Use this as a starting point for building any list of any type</p>
<h3>Contact Form</h3>
<p>The contact form is 100% MVC with strongly type view models.</p>]]></bodyText>
      </Slide>
    </Slideshow>
    <ContentPanels id="1099" parentID="1077" level="2" creatorID="0" sortOrder="10" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Content Panels" urlName="content-panels" path="-1,1077,1099" isDoc="" nodeType="1066" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="ContentPanels">
      <umbracoNaviHide>1</umbracoNaviHide>
      <ContentPanel id="1100" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Introductory Offers" urlName="introductory-offers" path="-1,1077,1099,1100" isDoc="" nodeType="1065" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[
<h3>Introductory Offers</h3>

<p>asdjbasd askdja asio]ywer asduyiuy</p>

<ul>
<li><a href="/rooms.aspx">related link 1</a></li>

<li><a href="/rooms.aspx">related link 1</a></li>
</ul>
]]></bodyText>
      </ContentPanel>
      <ContentPanel id="1101" parentID="1099" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Sample Panel" urlName="sample-panel" path="-1,1077,1099,1101" isDoc="" nodeType="1065" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>Sample Panel</strong></p>
<p>Don't you just love MVC?</p>
<ul>
<li><a href="/rooms.aspx">related link 1</a></li>
<li><a href="/rooms.aspx">related link 2</a></li>
</ul>]]></bodyText>
      </ContentPanel>
    </ContentPanels>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>zzzzzzzz</title>
    <slideshow><![CDATA[1096,1097,1098]]></slideshow>
    <panelContent1><![CDATA[<h2>Built by Creative Founds</h2>
<p><img src="/images/web_applications.jpg" alt="Web Applications" class="fr"/><strong>Creative Founds</strong> design and build first class software solutions that deliver big results. We provide ASP.NET web and mobile applications, Umbraco development service &amp; technical consultancy.</p>
<p><a href="http://www.creativefounds.co.uk" target="_blank">www.creativefounds.co.uk</a></p>]]></panelContent1>
    <panelContent2><![CDATA[<h2>Umbraco Development</h2>
<p><img src="/images/umbraco_square.jpg" alt="Umbraco" class="fr"/>Umbraco the the leading ASP.NET open source CMS, under pinning over 150,000 websites. Our Certified Developers are experts in developing high performance and feature rich websites.</p>]]></panelContent2>
    <panelContent3><![CDATA[<h2>Contact Us</h2>
<p><a href="http://www.twitter.com/chriskoiak" target="_blank"><img src="/images/twitter_square.png" alt="Contact Us on Twitter" class="fr"/></a>We'd love to hear how this package has helped you and how it can be improved. Get in touch on the <a href="http://our.umbraco.org/projects/starter-kits/standard-website-mvc" target="_blank">project website</a> or via <a href="http://www.twitter.com/chriskoiak" target="_blank">twitter</a></p>]]></panelContent3>
    <primaryNavigation><![CDATA[1077,1078,1082,1084,1085]]></primaryNavigation>
    <address>Standard Website MVC, Company Address, Glasgow, Postcode</address>
    <copyright>Copyright &amp;copy; 2012 Your Company</copyright>
    <affiliationLink1>http://www.umbraco.org</affiliationLink1>
    <affiliationImage1>/media/1477/umbraco_logo.png</affiliationImage1>
    <headerNavigation><![CDATA[1088,1089]]></headerNavigation>
  </Homepage>
  <Homepage id="1112" parentID="-1" level="1" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:15:40" nodeName="英文" urlName="英文" path="-1,1112" isDoc="" nodeType="1067" creatorName="sheng00" writerName="Administrator" writerID="0" template="1055" nodeTypeAlias="Homepage">
    <Standard id="1113" parentID="1112" level="2" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="About" urlName="about" path="-1,1112,1113" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla at velit lacus.</p>
<p>Vivamus dictum, lorem vitae <strong>bold text</strong>, libero <a href="/{localLink:1048}" title="Home">link text</a> elit, vitae tincidunt ante nibh vitae lectus. Praesent molestie justo non mi dapibus et venenatis ante facilisis. Morbi gravida molestie cursus.</p>
<h3>Sub Section</h3>
<p>Aliquam at est dui. Pellentesque tortor risus, congue eget pretium ut, elementum eu velit. Phasellus tempus leo sed elit tempus vestibulum. Integer mollis arcu porta leo vulputate dignissim.</p>
<ul>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ul>
<ol>
<li>Numbered Item 1</li>
<li>Numbered Item 2</li>
<li>Numbered Item 3</li>
</ol>
<p>In suscipit lectus vitae nibh faucibus vel lobortis est ullamcorper. Morbi risus nisl, sodales egestas placerat nec, cursus vel tellus. Vivamus aliquet sagittis pellentesque. Nulla rutrum neque nec metus mattis volutpat.</p>
<p>Vivamus egestas enim sed augue eleifend id tristique magna tempus. Nunc ullamcorper scelerisque ante quis consectetur.</p>
<p>Curabitur vel dui a enim adipiscing malesuada non quis velit.</p>]]></bodyText>
      <contentPanels><![CDATA[1127]]></contentPanels>
      <Standard id="1114" parentID="1113" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Sub Navigation 1" urlName="sub-navigation-1" path="-1,1112,1113,1114" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Standard id="1115" parentID="1114" level="4" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="3rd level nav 2" urlName="3rd-level-nav-2" path="-1,1112,1113,1114,1115" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
          <umbracoNaviHide>0</umbracoNaviHide>
        </Standard>
      </Standard>
      <Standard id="1116" parentID="1113" level="3" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Sub Navigation 2" urlName="sub-navigation-2" path="-1,1112,1113,1116" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
      </Standard>
      <NewsArticle id="1117" parentID="1113" level="3" creatorID="1" sortOrder="2" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="wwwww" urlName="wwwww" path="-1,1112,1113,1117" isDoc="" nodeType="1068" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>www</p>]]></bodyText>
        <articleSummary><![CDATA[w]]></articleSummary>
      </NewsArticle>
      <Standard id="1118" parentID="1113" level="3" creatorID="1" sortOrder="3" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="eeee" urlName="eeee" path="-1,1112,1113,1118" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title>eee</title>
        <description><![CDATA[eee]]></description>
      </Standard>
      <Standard id="1141" parentID="1113" level="3" creatorID="0" sortOrder="4" createDate="2014-05-22T14:26:55" updateDate="2014-05-22T14:27:13" nodeName="test copy" urlName="test-copy" path="-1,1112,1113,1141" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title>test</title>
        <bodyText><![CDATA[<p>test</p>]]></bodyText>
      </Standard>
    </Standard>
    <Newsfolder id="1152" parentID="1112" level="2" creatorID="0" sortOrder="1" createDate="2014-05-22T16:37:47" updateDate="2014-05-22T16:38:18" nodeName="News" urlName="news" path="-1,1112,1152" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="Newsfolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>News</h2>]]></bodyText>
      <NewsArticle id="1153" parentID="1152" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T16:37:47" updateDate="2014-05-22T16:38:18" nodeName="Article 1" urlName="article-1" path="-1,1112,1152,1153" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<h2>Your first Article</h2>
<p><span><strong>Aliquam erat volutpat. Sed laoreet leo id nisi convallis sollicitudin sodales orci adipiscing. Sed a dolor ipsum. Quisque ut quam eu arcu placerat rhoncus vel et mi. Pellentesque sed est nisl.</strong> </span></p>
<p><span>Aliquam at orci justo, id pharetra augue. Aenean ut nunc ut nibh interdum scelerisque ut ac mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula dictum lectus in interdum. Fusce pellentesque elit nec metus convallis id porttitor felis laoreet. Nunc vitae enim quam.</span></p>]]></bodyText>
        <articleSummary><![CDATA[Here is an article summary, you can add as much of a description as you require.]]></articleSummary>
        <articleDate>2012-11-08T00:00:00</articleDate>
      </NewsArticle>
      <NewsArticle id="1154" parentID="1152" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T16:37:47" updateDate="2014-05-22T16:38:18" nodeName="new2" urlName="new2" path="-1,1112,1152,1154" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
      </NewsArticle>
      <NewsArticle id="1155" parentID="1152" level="3" creatorID="0" sortOrder="2" createDate="2014-05-22T16:37:47" updateDate="2014-05-22T16:38:18" nodeName="testd" urlName="testd" path="-1,1112,1152,1155" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>adsfasdf</p>]]></bodyText>
      </NewsArticle>
      <NewsArticle id="1156" parentID="1152" level="3" creatorID="0" sortOrder="3" createDate="2014-05-22T16:37:47" updateDate="2014-05-22T16:38:18" nodeName="testddd" urlName="testddd" path="-1,1112,1152,1156" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title>dd</title>
        <keywords><![CDATA[dd]]></keywords>
        <bodyText><![CDATA[<p>ddd</p>]]></bodyText>
        <articleSummary><![CDATA[dd]]></articleSummary>
      </NewsArticle>
      <NewsArticle id="1157" parentID="1152" level="3" creatorID="0" sortOrder="4" createDate="2014-05-22T16:37:47" updateDate="2014-05-22T16:38:18" nodeName="test copy" urlName="test-copy" path="-1,1112,1152,1157" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>asdfasdfasdf</p>]]></bodyText>
      </NewsArticle>
    </Newsfolder>
    <Standard id="1122" parentID="1112" level="2" creatorID="1" sortOrder="2" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Clients" urlName="clients" path="-1,1112,1122" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Clients</h2>
<p><strong>This is a standard content page.</strong></p>
<p><span>Vestibulum malesuada aliquet ante, vitae ullamcorper felis faucibus vel. Vestibulum condimentum faucibus tellus porta ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </span></p>
<p><span>Cras at auctor orci. Praesent facilisis erat nec odio consequat at posuere ligula pretium. Nulla eget felis id nisl volutpat pellentesque. Ut id augue id ligula placerat rutrum a nec purus. Maecenas sed lectus ac mi pellentesque luctus quis sit amet turpis. Vestibulum adipiscing convallis vestibulum. </span></p>
<p><span>Duis condimentum lectus at orci placerat vitae imperdiet lorem cursus. Duis hendrerit porta lorem, non suscipit quam consectetur vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elit augue, tincidunt nec tincidunt id, elementum vel est.</span></p>]]></bodyText>
    </Standard>
    <ContactForm id="1123" parentID="1112" level="2" creatorID="1" sortOrder="3" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Contact Us" urlName="contact-us" path="-1,1112,1123" isDoc="" nodeType="1064" creatorName="sheng00" writerName="Administrator" writerID="0" template="1054" nodeTypeAlias="ContactForm">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Contact Us</h2>
<p>Please get in touch!</p>
<?UMBRACO_MACRO macroAlias="Map" />]]></bodyText>
      <recipientEmailAddress>chriskoiak@gmail.com</recipientEmailAddress>
      <emailSubject>Standard Website Contact Form</emailSubject>
      <thankYouPage>1124</thankYouPage>
      <senderEmailAddress>chriskoiak@gmail.com</senderEmailAddress>
      <Standard id="1124" parentID="1123" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Thank You" urlName="thank-you" path="-1,1112,1123,1124" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>Email sent successfully</strong></p>]]></bodyText>
      </Standard>
    </ContactForm>
    <Standard id="1125" parentID="1112" level="2" creatorID="1" sortOrder="4" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Search" urlName="search" path="-1,1112,1125" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1057" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Search</h2>]]></bodyText>
    </Standard>
    <Standard id="1126" parentID="1112" level="2" creatorID="1" sortOrder="5" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Sitemap" urlName="sitemap" path="-1,1112,1126" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1058" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Sitemap</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa.<a href="/contact-us.aspx"><br /></a></p>]]></bodyText>
    </Standard>
    <ClientArea id="1127" parentID="1112" level="2" creatorID="1" sortOrder="6" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Client Area" urlName="client-area" path="-1,1112,1127" isDoc="" nodeType="1061" creatorName="sheng00" writerName="Administrator" writerID="0" template="1053" nodeTypeAlias="ClientArea">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Standard id="1128" parentID="1127" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Client Area 1" urlName="client-area-1" path="-1,1112,1127,1128" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Standard id="1129" parentID="1128" level="4" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Page 1" urlName="page-1" path="-1,1112,1127,1128,1129" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
          <umbracoNaviHide>0</umbracoNaviHide>
        </Standard>
      </Standard>
      <Standard id="1130" parentID="1127" level="3" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Client Area 2" urlName="client-area-2" path="-1,1112,1127,1130" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>0</umbracoNaviHide>
      </Standard>
    </ClientArea>
    <Standard id="1131" parentID="1112" level="2" creatorID="1" sortOrder="7" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Insufficent Access" urlName="insufficent-access" path="-1,1112,1131" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Insufficent Access</h2>
<p>You have tried to access a page you do not have access to.</p>]]></bodyText>
    </Standard>
    <Standard id="1132" parentID="1112" level="2" creatorID="1" sortOrder="8" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Login" urlName="login" path="-1,1112,1132" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1056" nodeTypeAlias="Standard">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Login</h2>]]></bodyText>
    </Standard>
    <Slideshow id="1133" parentID="1112" level="2" creatorID="1" sortOrder="9" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Slideshow" urlName="slideshow" path="-1,1112,1133" isDoc="" nodeType="1070" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slideshow">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Slide id="1134" parentID="1133" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Purple Hat" urlName="purple-hat" path="-1,1112,1133,1134" isDoc="" nodeType="1069" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/643/cap.png</mainImage>
        <bodyText><![CDATA[<h3>Standard Website MVC</h3>
<p>Well hello! This website package demonstrates all the standard functionality of Umbraco. It's a great starting point for <span>starting point for further development or as a prototype.</span></p>
<h3>Creative Founds</h3>
<p>This package was developed by <a href="http://www.twitter.com/chriskoiak" target="_blank">Chris Koiak</a> &amp; <a href="http://www.creativefounds.co.uk" target="_blank">Creative Founds</a>. </p>]]></bodyText>
      </Slide>
      <Slide id="1135" parentID="1133" level="3" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Red Dice" urlName="red-dice" path="-1,1112,1133,1135" isDoc="" nodeType="1069" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/647/dice.png</mainImage>
        <bodyText><![CDATA[<h3>Secure Client Areas</h3>
<p>Make sure you check out the secure client areas and MVC login form,</p>
<h3>Multiple Areas</h3>
<p>You can create different areas for different clients or just the functionality to suit your project.</p>]]></bodyText>
      </Slide>
      <Slide id="1136" parentID="1133" level="3" creatorID="1" sortOrder="2" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Umbraco Speechbubble" urlName="umbraco-speechbubble" path="-1,1112,1133,1136" isDoc="" nodeType="1069" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/651/chat.jpg</mainImage>
        <bodyText><![CDATA[<h3>News List</h3>
<p>The news page is an example of a list of content. Use this as a starting point for building any list of any type</p>
<h3>Contact Form</h3>
<p>The contact form is 100% MVC with strongly type view models.</p>]]></bodyText>
      </Slide>
    </Slideshow>
    <ContentPanels id="1137" parentID="1112" level="2" creatorID="1" sortOrder="10" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Content Panels" urlName="content-panels" path="-1,1112,1137" isDoc="" nodeType="1066" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="ContentPanels">
      <umbracoNaviHide>1</umbracoNaviHide>
      <ContentPanel id="1138" parentID="1137" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Introductory Offers" urlName="introductory-offers" path="-1,1112,1137,1138" isDoc="" nodeType="1065" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[
<h3>Introductory Offers</h3>

<p>asdjbasd askdja asio]ywer asduyiuy</p>

<ul>
<li><a href="/rooms.aspx">related link 1</a></li>

<li><a href="/rooms.aspx">related link 1</a></li>
</ul>
]]></bodyText>
      </ContentPanel>
      <ContentPanel id="1139" parentID="1137" level="3" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Sample Panel" urlName="sample-panel" path="-1,1112,1137,1139" isDoc="" nodeType="1065" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="ContentPanel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>Sample Panel</strong></p>
<p>Don't you just love MVC?</p>
<ul>
<li><a href="/rooms.aspx">related link 1</a></li>
<li><a href="/rooms.aspx">related link 2</a></li>
</ul>]]></bodyText>
      </ContentPanel>
    </ContentPanels>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>eeeeeeeee</title>
    <slideshow><![CDATA[1096,1097,1098]]></slideshow>
    <panelContent1><![CDATA[<h2>Built by Creative Founds</h2>
<p><img src="/images/web_applications.jpg" alt="Web Applications" class="fr"/><strong>Creative Founds</strong> design and build first class software solutions that deliver big results. We provide ASP.NET web and mobile applications, Umbraco development service &amp; technical consultancy.</p>
<p><a href="http://www.creativefounds.co.uk" target="_blank">www.creativefounds.co.uk</a></p>]]></panelContent1>
    <panelContent2><![CDATA[<h2>Umbraco Development</h2>
<p><img src="/images/umbraco_square.jpg" alt="Umbraco" class="fr"/>Umbraco the the leading ASP.NET open source CMS, under pinning over 150,000 websites. Our Certified Developers are experts in developing high performance and feature rich websites.</p>]]></panelContent2>
    <panelContent3><![CDATA[<h2>Contact Us</h2>
<p><a href="http://www.twitter.com/chriskoiak" target="_blank"><img src="/images/twitter_square.png" alt="Contact Us on Twitter" class="fr"/></a>We'd love to hear how this package has helped you and how it can be improved. Get in touch on the <a href="http://our.umbraco.org/projects/starter-kits/standard-website-mvc" target="_blank">project website</a> or via <a href="http://www.twitter.com/chriskoiak" target="_blank">twitter</a></p>]]></panelContent3>
    <primaryNavigation><![CDATA[1112,1113,1119,1122,1123]]></primaryNavigation>
    <address>Standard Website MVC, Company Address, Glasgow, Postcode</address>
    <copyright>Copyright &amp;copy; 2012 Your Company</copyright>
    <affiliationLink1>http://www.umbraco.org</affiliationLink1>
    <affiliationImage1>/media/472/umbraco_logo.png</affiliationImage1>
    <headerNavigation><![CDATA[1088,1089]]></headerNavigation>
  </Homepage>
</root>