<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT ClientArea ANY>
<!ATTLIST ClientArea id ID #REQUIRED>
<!ELEMENT ContactForm ANY>
<!ATTLIST ContactForm id ID #REQUIRED>
<!ELEMENT ContentMaster ANY>
<!ATTLIST ContentMaster id ID #REQUIRED>
<!ELEMENT ContentPanel ANY>
<!ATTLIST ContentPanel id ID #REQUIRED>
<!ELEMENT ContentPanels ANY>
<!ATTLIST ContentPanels id ID #REQUIRED>
<!ELEMENT Datefolder ANY>
<!ATTLIST Datefolder id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Slide ANY>
<!ATTLIST Slide id ID #REQUIRED>
<!ELEMENT Slideshow ANY>
<!ATTLIST Slideshow id ID #REQUIRED>
<!ELEMENT Standard ANY>
<!ATTLIST Standard id ID #REQUIRED>
<!ELEMENT NewsArticle ANY>
<!ATTLIST NewsArticle id ID #REQUIRED>
<!ELEMENT NewsFolder ANY>
<!ATTLIST NewsFolder id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1077" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T23:10:46" nodeName="中文" urlName="中文" path="-1,1077" isDoc="" nodeType="1067" creatorName="Administrator" writerName="Administrator" writerID="0" template="1055" nodeTypeAlias="Homepage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>首页</title>
    <slideshow><![CDATA[1096,1097,1098]]></slideshow>
    <panelContent1><![CDATA[<h2>Built by Creative Founds</h2>
<p><img src="/images/web_applications.jpg" alt="Web Applications" class="fr"/><strong>Creative Founds</strong> design and build first class software solutions that deliver big results. We provide ASP.NET web and mobile applications, Umbraco development service &amp; technical consultancy.</p>
<p><a href="http://www.creativefounds.co.uk" target="_blank">www.creativefounds.co.uk</a></p>]]></panelContent1>
    <panelContent2><![CDATA[<h2>Umbraco Development</h2>
<p><img src="/images/umbraco_square.jpg" alt="Umbraco" class="fr"/>Umbraco the the leading ASP.NET open source CMS, under pinning over 150,000 websites. Our Certified Developers are experts in developing high performance and feature rich websites.</p>]]></panelContent2>
    <panelContent3><![CDATA[<h2>Contact Us</h2>
<p><a href="http://www.twitter.com/chriskoiak" target="_blank"><img src="/images/twitter_square.png" alt="Contact Us on Twitter" class="fr"/></a>We'd love to hear how this package has helped you and how it can be improved. Get in touch on the <a href="http://our.umbraco.org/projects/starter-kits/standard-website-mvc" target="_blank">project website</a> or via <a href="http://www.twitter.com/chriskoiak" target="_blank">twitter</a></p>]]></panelContent3>
    <primaryNavigation><![CDATA[1077,1078,1207,1084,1085]]></primaryNavigation>
    <address>Standard Website MVC, Company Address, Glasgow, Postcode</address>
    <copyright>Copyright &amp;copy; 2012 Your Company</copyright>
    <affiliationLink1>http://www.umbraco.org</affiliationLink1>
    <affiliationImage1>/media/1477/umbraco_logo.png</affiliationImage1>
    <headerNavigation><![CDATA[1088,1089]]></headerNavigation>
    <Standard id="1078" parentID="1077" level="2" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T23:37:54" nodeName="About" urlName="about" path="-1,1077,1078" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>关于我们</title>
      <description><![CDATA[关于我们Description]]></description>
      <keywords><![CDATA[关于我们Keywords]]></keywords>
      <bodyText><![CDATA[<h2>关于我们<span>Content</span></h2>]]></bodyText>
      <contentPanels><![CDATA[1127]]></contentPanels>
    </Standard>
    <NewsFolder id="1207" parentID="1077" level="2" creatorID="0" sortOrder="1" createDate="2014-05-22T22:24:39" updateDate="2014-05-22T22:54:31" nodeName="News" urlName="news" path="-1,1077,1207" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="NewsFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>新闻中心</title>
      <NewsFolder id="1215" parentID="1207" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T22:37:07" updateDate="2014-05-22T22:37:12" nodeName="Industry News" urlName="industry-news" path="-1,1077,1207,1215" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="NewsFolder">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Datefolder id="1220" parentID="1215" level="4" creatorID="0" sortOrder="1" createDate="2014-05-22T22:51:20" updateDate="2014-05-22T22:51:20" nodeName="2014" urlName="2014" path="-1,1077,1207,1215,1220" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
          <Datefolder id="1222" parentID="1220" level="5" creatorID="0" sortOrder="0" createDate="2014-05-22T22:51:20" updateDate="2014-05-22T22:51:20" nodeName="5" urlName="5" path="-1,1077,1207,1215,1220,1222" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
            <Datefolder id="1224" parentID="1222" level="6" creatorID="0" sortOrder="0" createDate="2014-05-22T22:51:21" updateDate="2014-05-22T22:51:21" nodeName="22" urlName="22" path="-1,1077,1207,1215,1220,1222,1224" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
              <NewsArticle id="1219" parentID="1224" level="7" creatorID="0" sortOrder="1" createDate="2014-05-22T22:50:38" updateDate="2014-05-22T22:51:21" nodeName="新闻1" urlName="新闻1" path="-1,1077,1207,1215,1220,1222,1224,1219" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
                <umbracoNaviHide>0</umbracoNaviHide>
                <title>新闻1Title</title>
                <description><![CDATA[新闻1Description]]></description>
                <keywords><![CDATA[新闻1Keywords]]></keywords>
                <bodyText><![CDATA[<p>这是一条新闻</p>]]></bodyText>
                <articleSummary><![CDATA[新闻1Summary]]></articleSummary>
                <articleDate>2014-05-22T00:00:00</articleDate>
              </NewsArticle>
            </Datefolder>
          </Datefolder>
        </Datefolder>
      </NewsFolder>
      <NewsFolder id="1217" parentID="1207" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T22:37:50" updateDate="2014-05-22T22:38:12" nodeName="Company News" urlName="company-news" path="-1,1077,1207,1217" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="NewsFolder">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Datefolder id="1228" parentID="1217" level="4" creatorID="0" sortOrder="1" createDate="2014-05-22T23:13:54" updateDate="2014-05-22T23:13:54" nodeName="2014" urlName="2014" path="-1,1077,1207,1217,1228" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
          <Datefolder id="1230" parentID="1228" level="5" creatorID="0" sortOrder="0" createDate="2014-05-22T23:13:55" updateDate="2014-05-22T23:13:55" nodeName="5" urlName="5" path="-1,1077,1207,1217,1228,1230" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
            <Datefolder id="1232" parentID="1230" level="6" creatorID="0" sortOrder="0" createDate="2014-05-22T23:13:55" updateDate="2014-05-22T23:13:55" nodeName="22" urlName="22" path="-1,1077,1207,1217,1228,1230,1232" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
              <NewsArticle id="1227" parentID="1232" level="7" creatorID="0" sortOrder="1" createDate="2014-05-22T23:13:24" updateDate="2014-05-22T23:13:56" nodeName="企业新闻1" urlName="企业新闻1" path="-1,1077,1207,1217,1228,1230,1232,1227" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
                <umbracoNaviHide>0</umbracoNaviHide>
                <title>企业新闻11111111</title>
                <bodyText><![CDATA[<p>这是一个企业新闻</p>]]></bodyText>
                <articleDate>2014-05-22T00:00:00</articleDate>
              </NewsArticle>
            </Datefolder>
          </Datefolder>
        </Datefolder>
      </NewsFolder>
    </NewsFolder>
    <Standard id="1084" parentID="1077" level="2" creatorID="0" sortOrder="2" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T23:39:56" nodeName="businesses and products" urlName="businesses-and-products" path="-1,1077,1084" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>业务及产品</title>
      <bodyText><![CDATA[<h2>业务及产品</h2>]]></bodyText>
    </Standard>
    <ContactForm id="1085" parentID="1077" level="2" creatorID="0" sortOrder="3" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T23:43:33" nodeName="Contact Us" urlName="contact-us" path="-1,1077,1085" isDoc="" nodeType="1064" creatorName="Administrator" writerName="Administrator" writerID="0" template="1054" nodeTypeAlias="ContactForm">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Contact Us</h2>
<p>Please get in touch!</p>
<?UMBRACO_MACRO macroAlias="Map" />]]></bodyText>
      <recipientEmailAddress>shengoo@hotmail.com</recipientEmailAddress>
      <emailSubject>Contact Form</emailSubject>
      <thankYouPage>1124</thankYouPage>
      <senderEmailAddress>shengoo@hotmail.com</senderEmailAddress>
      <Standard id="1086" parentID="1085" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Thank You" urlName="thank-you" path="-1,1077,1085,1086" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>Email sent successfully</strong></p>]]></bodyText>
      </Standard>
    </ContactForm>
    <Standard id="1087" parentID="1077" level="2" creatorID="0" sortOrder="4" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T16:04:38" nodeName="Search" urlName="search" path="-1,1077,1087" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1057" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Search</h2>]]></bodyText>
      <contentPanels><![CDATA[1077]]></contentPanels>
    </Standard>
    <Standard id="1088" parentID="1077" level="2" creatorID="0" sortOrder="5" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Sitemap" urlName="sitemap" path="-1,1077,1088" isDoc="" nodeType="1063" creatorName="Administrator" writerName="Administrator" writerID="0" template="1058" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Sitemap</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa.<a href="/contact-us.aspx"><br /></a></p>]]></bodyText>
    </Standard>
    <Slideshow id="1095" parentID="1077" level="2" creatorID="0" sortOrder="9" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Slideshow" urlName="slideshow" path="-1,1077,1095" isDoc="" nodeType="1070" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slideshow">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Slide id="1096" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Purple Hat" urlName="purple-hat" path="-1,1077,1095,1096" isDoc="" nodeType="1069" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/1813/cap.png</mainImage>
        <bodyText><![CDATA[<h3>Standard Website MVC</h3>
<p>Well hello! This website package demonstrates all the standard functionality of Umbraco. It's a great starting point for <span>starting point for further development or as a prototype.</span></p>
<h3>Creative Founds</h3>
<p>This package was developed by <a href="http://www.twitter.com/chriskoiak" target="_blank">Chris Koiak</a> &amp; <a href="http://www.creativefounds.co.uk" target="_blank">Creative Founds</a>. </p>]]></bodyText>
      </Slide>
      <Slide id="1097" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Red Dice" urlName="red-dice" path="-1,1077,1095,1097" isDoc="" nodeType="1069" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/1824/dice.png</mainImage>
        <bodyText><![CDATA[<h3>Secure Client Areas</h3>
<p>Make sure you check out the secure client areas and MVC login form,</p>
<h3>Multiple Areas</h3>
<p>You can create different areas for different clients or just the functionality to suit your project.</p>]]></bodyText>
      </Slide>
      <Slide id="1098" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2014-05-22T00:38:24" updateDate="2014-05-22T00:38:26" nodeName="Umbraco Speechbubble" urlName="umbraco-speechbubble" path="-1,1077,1095,1098" isDoc="" nodeType="1069" creatorName="Administrator" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/2075/chat.jpg</mainImage>
        <bodyText><![CDATA[<h3>News List</h3>
<p>The news page is an example of a list of content. Use this as a starting point for building any list of any type</p>
<h3>Contact Form</h3>
<p>The contact form is 100% MVC with strongly type view models.</p>]]></bodyText>
      </Slide>
    </Slideshow>
  </Homepage>
  <Homepage id="1112" parentID="-1" level="1" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T23:42:05" nodeName="英文" urlName="英文" path="-1,1112" isDoc="" nodeType="1067" creatorName="sheng00" writerName="Administrator" writerID="0" template="1055" nodeTypeAlias="Homepage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>Index</title>
    <slideshow><![CDATA[1096,1097,1098]]></slideshow>
    <panelContent1><![CDATA[<h2>Built by Creative Founds</h2>
<p><img src="/images/web_applications.jpg" alt="Web Applications" class="fr"/><strong>Creative Founds</strong> design and build first class software solutions that deliver big results. We provide ASP.NET web and mobile applications, Umbraco development service &amp; technical consultancy.</p>
<p><a href="http://www.creativefounds.co.uk" target="_blank">www.creativefounds.co.uk</a></p>]]></panelContent1>
    <panelContent2><![CDATA[<h2>Umbraco Development</h2>
<p><img src="/images/umbraco_square.jpg" alt="Umbraco" class="fr"/>Umbraco the the leading ASP.NET open source CMS, under pinning over 150,000 websites. Our Certified Developers are experts in developing high performance and feature rich websites.</p>]]></panelContent2>
    <panelContent3><![CDATA[<h2>Contact Us</h2>
<p><a href="http://www.twitter.com/chriskoiak" target="_blank"><img src="/images/twitter_square.png" alt="Contact Us on Twitter" class="fr"/></a>We'd love to hear how this package has helped you and how it can be improved. Get in touch on the <a href="http://our.umbraco.org/projects/starter-kits/standard-website-mvc" target="_blank">project website</a> or via <a href="http://www.twitter.com/chriskoiak" target="_blank">twitter</a></p>]]></panelContent3>
    <primaryNavigation><![CDATA[1112,1113,1209,1122,1123]]></primaryNavigation>
    <address>Standard Website MVC, Company Address, Glasgow, Postcode</address>
    <copyright>Copyright &amp;copy; 2012 Your Company</copyright>
    <affiliationLink1>http://www.umbraco.org</affiliationLink1>
    <affiliationImage1>/media/472/umbraco_logo.png</affiliationImage1>
    <headerNavigation><![CDATA[1088,1089]]></headerNavigation>
    <Standard id="1113" parentID="1112" level="2" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="About" urlName="about" path="-1,1112,1113" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla at velit lacus.</p>
<p>Vivamus dictum, lorem vitae <strong>bold text</strong>, libero <a href="/{localLink:1048}" title="Home">link text</a> elit, vitae tincidunt ante nibh vitae lectus. Praesent molestie justo non mi dapibus et venenatis ante facilisis. Morbi gravida molestie cursus.</p>
<h3>Sub Section</h3>
<p>Aliquam at est dui. Pellentesque tortor risus, congue eget pretium ut, elementum eu velit. Phasellus tempus leo sed elit tempus vestibulum. Integer mollis arcu porta leo vulputate dignissim.</p>
<ul>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ul>
<ol>
<li>Numbered Item 1</li>
<li>Numbered Item 2</li>
<li>Numbered Item 3</li>
</ol>
<p>In suscipit lectus vitae nibh faucibus vel lobortis est ullamcorper. Morbi risus nisl, sodales egestas placerat nec, cursus vel tellus. Vivamus aliquet sagittis pellentesque. Nulla rutrum neque nec metus mattis volutpat.</p>
<p>Vivamus egestas enim sed augue eleifend id tristique magna tempus. Nunc ullamcorper scelerisque ante quis consectetur.</p>
<p>Curabitur vel dui a enim adipiscing malesuada non quis velit.</p>]]></bodyText>
      <contentPanels><![CDATA[1127]]></contentPanels>
    </Standard>
    <NewsFolder id="1209" parentID="1112" level="2" creatorID="0" sortOrder="1" createDate="2014-05-22T22:25:39" updateDate="2014-05-22T23:40:18" nodeName="News" urlName="news" path="-1,1112,1209" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="NewsFolder">
      <umbracoNaviHide>0</umbracoNaviHide>
      <NewsFolder id="1216" parentID="1209" level="3" creatorID="0" sortOrder="0" createDate="2014-05-22T22:37:16" updateDate="2014-05-22T23:40:18" nodeName="Industry News" urlName="industry-news" path="-1,1112,1209,1216" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="NewsFolder">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Datefolder id="1221" parentID="1216" level="4" creatorID="0" sortOrder="0" createDate="2014-05-22T22:51:20" updateDate="2014-05-22T23:40:18" nodeName="2014" urlName="2014" path="-1,1112,1209,1216,1221" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
          <Datefolder id="1223" parentID="1221" level="5" creatorID="0" sortOrder="0" createDate="2014-05-22T22:51:21" updateDate="2014-05-22T23:40:18" nodeName="5" urlName="5" path="-1,1112,1209,1216,1221,1223" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
            <Datefolder id="1225" parentID="1223" level="6" creatorID="0" sortOrder="0" createDate="2014-05-22T22:51:21" updateDate="2014-05-22T23:40:18" nodeName="22" urlName="22" path="-1,1112,1209,1216,1221,1223,1225" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
              <NewsArticle id="1226" parentID="1225" level="7" creatorID="0" sortOrder="0" createDate="2014-05-22T22:51:21" updateDate="2014-05-22T23:40:19" nodeName="新闻1" urlName="新闻1" path="-1,1112,1209,1216,1221,1223,1225,1226" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
                <umbracoNaviHide>0</umbracoNaviHide>
                <title>新闻1Title</title>
                <description><![CDATA[新闻1Description]]></description>
                <keywords><![CDATA[新闻1Keywords]]></keywords>
                <bodyText><![CDATA[<p>这是一条新闻</p>]]></bodyText>
                <articleSummary><![CDATA[新闻1Summary]]></articleSummary>
                <articleDate>2014-05-22T00:00:00</articleDate>
              </NewsArticle>
            </Datefolder>
          </Datefolder>
        </Datefolder>
      </NewsFolder>
      <NewsFolder id="1218" parentID="1209" level="3" creatorID="0" sortOrder="1" createDate="2014-05-22T22:38:12" updateDate="2014-05-22T23:40:18" nodeName="Company News" urlName="company-news" path="-1,1112,1209,1218" isDoc="" nodeType="1146" creatorName="Administrator" writerName="Administrator" writerID="0" template="1145" nodeTypeAlias="NewsFolder">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Datefolder id="1229" parentID="1218" level="4" creatorID="0" sortOrder="0" createDate="2014-05-22T23:13:55" updateDate="2014-05-22T23:40:18" nodeName="2014" urlName="2014" path="-1,1112,1209,1218,1229" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
          <Datefolder id="1231" parentID="1229" level="5" creatorID="0" sortOrder="0" createDate="2014-05-22T23:13:55" updateDate="2014-05-22T23:40:18" nodeName="5" urlName="5" path="-1,1112,1209,1218,1229,1231" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
            <Datefolder id="1233" parentID="1231" level="6" creatorID="0" sortOrder="0" createDate="2014-05-22T23:13:55" updateDate="2014-05-22T23:40:18" nodeName="22" urlName="22" path="-1,1112,1209,1218,1229,1231,1233" isDoc="" nodeType="1148" creatorName="Administrator" writerName="Administrator" writerID="0" template="1147" nodeTypeAlias="Datefolder">
              <NewsArticle id="1234" parentID="1233" level="7" creatorID="0" sortOrder="0" createDate="2014-05-22T23:13:56" updateDate="2014-05-22T23:40:19" nodeName="企业新闻1" urlName="企业新闻1" path="-1,1112,1209,1218,1229,1231,1233,1234" isDoc="" nodeType="1068" creatorName="Administrator" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="NewsArticle">
                <umbracoNaviHide>0</umbracoNaviHide>
                <title>企业新闻11111111</title>
                <bodyText><![CDATA[<p>这是一个企业新闻</p>]]></bodyText>
                <articleDate>2014-05-22T00:00:00</articleDate>
              </NewsArticle>
            </Datefolder>
          </Datefolder>
        </Datefolder>
      </NewsFolder>
    </NewsFolder>
    <Standard id="1122" parentID="1112" level="2" creatorID="1" sortOrder="2" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T23:40:45" nodeName="businesses and products" urlName="businesses-and-products" path="-1,1112,1122" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>Businesses and products</title>
      <bodyText><![CDATA[<h2>Clients</h2>
<p><strong>This is a standard content page.</strong></p>
<p><span>Vestibulum malesuada aliquet ante, vitae ullamcorper felis faucibus vel. Vestibulum condimentum faucibus tellus porta ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </span></p>
<p><span>Cras at auctor orci. Praesent facilisis erat nec odio consequat at posuere ligula pretium. Nulla eget felis id nisl volutpat pellentesque. Ut id augue id ligula placerat rutrum a nec purus. Maecenas sed lectus ac mi pellentesque luctus quis sit amet turpis. Vestibulum adipiscing convallis vestibulum. </span></p>
<p><span>Duis condimentum lectus at orci placerat vitae imperdiet lorem cursus. Duis hendrerit porta lorem, non suscipit quam consectetur vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elit augue, tincidunt nec tincidunt id, elementum vel est.</span></p>]]></bodyText>
    </Standard>
    <ContactForm id="1123" parentID="1112" level="2" creatorID="1" sortOrder="3" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T23:44:04" nodeName="Contact Us" urlName="contact-us" path="-1,1112,1123" isDoc="" nodeType="1064" creatorName="sheng00" writerName="Administrator" writerID="0" template="1054" nodeTypeAlias="ContactForm">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Contact Us</h2>
<p>Please get in touch!</p>
<?UMBRACO_MACRO macroAlias="Map" />]]></bodyText>
      <recipientEmailAddress>shengoo@hotmail.com</recipientEmailAddress>
      <emailSubject>Contact Form</emailSubject>
      <thankYouPage>1124</thankYouPage>
      <senderEmailAddress>shengoo@hotmail.com</senderEmailAddress>
      <Standard id="1124" parentID="1123" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Thank You" urlName="thank-you" path="-1,1112,1123,1124" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1059" nodeTypeAlias="Standard">
        <umbracoNaviHide>1</umbracoNaviHide>
        <bodyText><![CDATA[<p><strong>Email sent successfully</strong></p>]]></bodyText>
      </Standard>
    </ContactForm>
    <Standard id="1125" parentID="1112" level="2" creatorID="1" sortOrder="4" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Search" urlName="search" path="-1,1112,1125" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1057" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Search</h2>]]></bodyText>
    </Standard>
    <Standard id="1126" parentID="1112" level="2" creatorID="1" sortOrder="5" createDate="2014-05-22T13:51:25" updateDate="2014-05-22T14:14:49" nodeName="Sitemap" urlName="sitemap" path="-1,1112,1126" isDoc="" nodeType="1063" creatorName="sheng00" writerName="Administrator" writerID="0" template="1058" nodeTypeAlias="Standard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h2>Sitemap</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum, nisi non gravida blandit, odio nulla ultrices orci, quis blandit tortor libero vitae massa.<a href="/contact-us.aspx"><br /></a></p>]]></bodyText>
    </Standard>
    <Slideshow id="1133" parentID="1112" level="2" creatorID="1" sortOrder="9" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Slideshow" urlName="slideshow" path="-1,1112,1133" isDoc="" nodeType="1070" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slideshow">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Slide id="1134" parentID="1133" level="3" creatorID="1" sortOrder="0" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Purple Hat" urlName="purple-hat" path="-1,1112,1133,1134" isDoc="" nodeType="1069" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/643/cap.png</mainImage>
        <bodyText><![CDATA[<h3>Standard Website MVC</h3>
<p>Well hello! This website package demonstrates all the standard functionality of Umbraco. It's a great starting point for <span>starting point for further development or as a prototype.</span></p>
<h3>Creative Founds</h3>
<p>This package was developed by <a href="http://www.twitter.com/chriskoiak" target="_blank">Chris Koiak</a> &amp; <a href="http://www.creativefounds.co.uk" target="_blank">Creative Founds</a>. </p>]]></bodyText>
      </Slide>
      <Slide id="1135" parentID="1133" level="3" creatorID="1" sortOrder="1" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Red Dice" urlName="red-dice" path="-1,1112,1133,1135" isDoc="" nodeType="1069" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/647/dice.png</mainImage>
        <bodyText><![CDATA[<h3>Secure Client Areas</h3>
<p>Make sure you check out the secure client areas and MVC login form,</p>
<h3>Multiple Areas</h3>
<p>You can create different areas for different clients or just the functionality to suit your project.</p>]]></bodyText>
      </Slide>
      <Slide id="1136" parentID="1133" level="3" creatorID="1" sortOrder="2" createDate="2014-05-22T13:51:26" updateDate="2014-05-22T14:14:49" nodeName="Umbraco Speechbubble" urlName="umbraco-speechbubble" path="-1,1112,1133,1136" isDoc="" nodeType="1069" creatorName="sheng00" writerName="Administrator" writerID="0" template="0" nodeTypeAlias="Slide">
        <umbracoNaviHide>1</umbracoNaviHide>
        <mainImage>/media/651/chat.jpg</mainImage>
        <bodyText><![CDATA[<h3>News List</h3>
<p>The news page is an example of a list of content. Use this as a starting point for building any list of any type</p>
<h3>Contact Form</h3>
<p>The contact form is 100% MVC with strongly type view models.</p>]]></bodyText>
      </Slide>
    </Slideshow>
  </Homepage>
</root>